
<section>
    <div class="detail">
        <div class="detail__left">
            <div class="box_fotorama">
                <div class="thubmail-slide thubmail-slide--row hasArrow">
                    <div class="counter hide">
                        <span class="counter-current">1</span>
                        <span class="counter-total">1</span>
                    </div>
                    <div class="click-fullscreen"></div>
                    <div class="click-arrow">
                        <div class="prev"></div>
                        <div class="next"></div>
                    </div>
                    <div class="owl-carousel slider-img owl-loaded owl-drag" id="slider-defaults">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                 style="transform: translate3d(-1276px, 0px, 0px); transition: all 0s ease 0s; width: 5104px;">
                                @{
                                    @for (int i = 1; i <= ViewBag.SP.List_imgSP.Count; i++)
                                    {
                                        if (i == 1)
                                        {
                                            <div class="owl-item slidenumber1 active" style="width: 638px;">
                                                <div class="item-img"
                                                     data-alt="">
                                                    <img src=@ViewBag.SP.List_imgSP[i-1]
                                                         width="594" height="600"
                                                         data-thumb=@ViewBag.SP.List_imgSP[i-1]
                                                         alt="">
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="owl-item slidenumber@(i)" style="width: 638px;">
                                                <div class="item-img"
                                                     data-alt="">
                                                    <img src=@ViewBag.SP.List_imgSP[i-1]
                                                         width="594" height="600"
                                                         data-thumb=@ViewBag.SP.List_imgSP[i-1]
                                                         alt="">
                                                </div>
                                            </div>
                                        }

                                    }
                                }
                            </div>
                            <div class="bg-imgslider"></div>
                            <span class="close-popupslider">Đóng</span>
                        </div>
                    </div>
                    <div class="bg-imgslider"></div>
                    <span class="close-popupslider">Đóng</span>
                </div>
            </div>
            <div class="article content-t-wrap">
                <div class="article__content showall review-post ">
                    <h2 class="article__content__title">THÔNG TIN SẢN PHẨM</h2>
                    <h3>Đặc điểm nổi bật</h3>
                    <ul>
                        @foreach (string dd in ViewBag.SP.DacDiemSP)
                        {
                            <li>
                                @dd
                            </li>
                        }
                    </ul>
                    <h3>Hướng dẫn sử dụng </h3>
                    <ul>
                        @foreach (string dd in ViewBag.SP.HDSD_SP)
                        {
                            <li>
                                @dd
                            </li>
                        }
                    </ul>
                </div>
                <div class="bg-article hide"></div>
                <a href="javascript:void(0)" onclick="showArticle()" class="btn-seemore hide">
                    <span>Xem thêm</span>
                </a>
            </div>


        </div>


        <div class="detail__right">
            <div class="box_productInfor">
                <div class="detail-title" data-id="" data-cateid=""
                     data-scenrio=""
                     data-scenrioid="">
                    <h3>
                        @ViewBag.SP.Ten_SanPham
                    </h3>
                </div>
                <div class="detail-top">

                    <div class="detail-price">
                        <span class="price-current">@(ViewBag.SP.ds_KhuyenMai[0].giagiam)&#x20AB;</span>
                        <span class="price-old">@(ViewBag.SP.giaban) &#x20AB;</span>
                        <span class="price-percent">- @((ViewBag.SP.giaban-ViewBag.SP.ds_KhuyenMai[0].giagiam)*100/ ViewBag.SP.giaban)%</span>
                    </div>
                    <span class="product-code">#@ViewBag.SP.Id_SanPham</span>


                </div>
                <div class="box-promo fInter">
                    <p class="box-promo-txt">Khuyến mãi (Đến @ViewBag.SP.ds_KhuyenMai[0].NgayketThuc)</p>
                    <ul class="box-promo-list">
                        <li class="divb t1">

                            Nhập mã AVAKID giảm 10% tối đa 100.000đ cho đơn hàng từ 300.000đ trở lên khi thanh toán
                            qua Ví Moca trên ứng dụng Grab <a href="/" target=_blank>(click xem chi tiết)</a>

                        </li>
                    </ul>

                </div>
                <div class="detail-btn">
                    <span class="btn btn-addcart" id="btn-addcart">Mua Ngay</span>
                    <span class="btn btn-spmarket">Xem cửa hàng còn hàng</span>
                </div>
                <ul class="policy">
                    <li class="doitra ">
                        <div class="iconl">
                            <i class="icon-doitra"></i>
                        </div>
                        <p>
                            Không áp dụng đổi trả, bảo hành (Không bao gồm xe đồ chơi điều khiển) <a href='/'>Xem chi tiết</a>
                        </p>
                    </li>
                    <li class=" ">
                        <div class="iconl">
                            <i class="icon-mienphigh"></i>
                        </div>
                        <p>Miễn phí giao hàng đơn từ 500.000đ trong 10km đầu tiên</p>
                    </li>
                    <li class=" ">
                        <div class="iconl">
                            <i class="icon-cod"></i>
                        </div>
                        <p>Giao hàng thu tiền, thanh toán online nhiều phương thức</p>
                    </li>
                    <li class=" ">
                        <div class="iconl">
                            <i class="icon-phone"></i>
                        </div>
                        <p>Tổng đài: <a href='tel:1900866874'>1900.866.874</a><br />(7h30 - 22h00)</p>
                    </li>
                </ul>
                <div class="info__item spec_article">
                    <p class="info-title">Thông tin chi tiết</p>
                    <div class="info-content">
                        <ul class="info-article ">
                            <li>
                                <p class="txt01">Thương Hiệu </p>
                                <p class="txt02">@ViewBag.SP.Thuonghieu</p>
                            </li>

                            <li>
                                <p class="txt01">Loại</p>
                                <p class="txt02">
                                    @foreach (string loai in ViewBag.SP.ds_loaiSp)
                                    {
                                        <span class="dot">@loai</span>

                                    }

                                </p>
                            </li>
                            <li>
                                <p class="txt01">Độ tuổi</p>
                                <p class="txt02">Từ @ViewBag.SP.Dotuoi tuổi trở lên</p>
                            </li>
                            <li>
                                <p class="txt01">Chất liệu</p>
                                <p class="txt02">@ViewBag.SP.ChatLieu</p>
                            </li>
                            <li>
                                <p class="txt01">Kích Thước</p>
                                <p class="txt02">@ViewBag.SP.kichThuocSP.laychuoi()</p>
                            </li>
                            <li>
                                <p class="txt01">Trọng lượng</p>
                                <p class="txt02">@ViewBag.SP.KhoiluongSP g</p>
                            </li>
                            <li>
                                <p class="txt01">Lưu ý khi sử dụng </p>
                                <p class="txt02">
                                    @ViewBag.SP.LuuYSuDSuDung
                                </p>
                            </li>
                            <li>
                                <p class="txt01">Nơi sản xuất</p>
                                <p class="txt02">@ViewBag.SP.NoiSX</p>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="detail-product">
        <p class="detail-product-ttl">Đồ chơi khác</p>
        <div class="listproduct listproduct-detail owl-carousel">
            @foreach (Md_SanPham sp in ViewBag.data.ListSanPhamHienThi.list_SP)
            {
                <div class="item">
                    <a href="/" class="main-contain">

                        <div class="item-img">

                            <img src=@sp.List_imgSP[0] style="width:300px; height:300px" />

                        </div>
                        <div class="item-wrap">
                            <h3>
                                @sp.Ten_SanPham
                            </h3>

                            <p class="price-current">@(sp.ds_KhuyenMai[0].giagiam) &#x20AB;</p>
                            <div class="boxprice">
                                <p class="price-old">@sp.giaban&#x20AB;</p>
                                <span class="percent">- @((sp.giaban-sp.ds_KhuyenMai[0].giagiam)*100/ sp.giaban)%</span>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div id="comment-list0" class="comment-list full wrapcomrat comment-kids">
        <b class="cmttitle">
            Hỏi đáp về @ViewBag.SP.Ten_SanPham
        </b>
        <form id="frmAddComment" novalidate class="form new-version" onsubmit="return AddComment();">
            <div class="group-cm txtr">
                <textarea name="txtContent" rows="1" maxlength="1000" required="required"
                          placeholder="Mời bạn bình luận hoặc đặt câu hỏi"></textarea>
            </div>
            <div class="gendercomment new-version hide">
                <label class="" data-gender="1"><i class="radio"></i> Anh</label>
                <label class="" data-gender="0"><i class="radio"></i> Chị</label>
            </div>
            <input name="hdGender" type="hidden" value="-1" />
            <div class="group-cm box-cmt-item hide">
                <input name="txtFullName" type="text" maxlength="50" required="required" />
                <label class="material-cm">Họ và tên <span>*</span></label>
            </div>
            <div class="group-cm box-cmt-item hide">
                <input type="number" name="txtPhone" maxlength="50" />
                <label class="material-cm">Số điện thoại</label>
            </div>
            <div class="group-cm box-cmt-item hide">
                <input name="txtEmail" type="text" maxlength="50" />
                <label class="material-cm">Email</label>
            </div>
            <button type="submit" class="box-cmt-item hide">
                GỬI
            </button>

            <span class="lbMsgCm"></span>
        </form>
    </div>
    <div class="commitment">
        <ul>
            <li>
                <div class="li-icon">
                    <i class="icon-chinhhang"></i>
                </div>
                <div class="li-content">
                    <p><span>100% sản phẩm chính hãng</span><br>hơn 100 thương hiệu nổi tiếng</p>
                </div>
            </li>
            <li>
                <div class="li-icon">
                    <i class="icon-doi1"></i>
                </div>
                <div class="li-content">
                    <p>
                        <span>1 Đổi 1 trong vòng 1 tháng</span><span class="li-content-note">(Tuỳ sản phẩm)</span><br>Tại
                        30 cửa hàng trên toàn quốc
                    </p>
                    <a href="/bao-hanh-doi-tra" class="txt-link">Xem chi tiết</a>
                </div>
            </li>
            <li>
                <div class="li-icon">
                    <i class="icon-mpgiaohang"></i>
                </div>
                <div class="li-content">
                    <p><span>Miễn phí giao hàng</span><br>Cho đơn từ 500.000đ trong 10km đầu tiên </p>
                    <a href="/chinh-sach-giao-hang" class="txt-link">Xem chi tiết</a>
                </div>
            </li>
        </ul>
    </div>

</section>
